[submodule "pdfs"]
	path = pdfs
	url = https://github.com/bible-sacy/pdfs.git

[submodule "pdfs-2"]
	path = pdfs-2
	url = https://github.com/bible-sacy/pdfs-2.git
	
[submodule "pngs-at"]
	path = pngs-at
	url = https://github.com/bible-sacy/pngs-at.git

[submodule "pngs-at-2"]
	path = pngs-at-2
	url = https://github.com/bible-sacy/pngs-at-2.git

[submodule "pngs-nt-1"]
	path = pngs-nt-1
	url = https://github.com/bible-sacy/pngs-nt-1.git

[submodule "pngs-nt-2"]
	path = pngs-nt-2
	url = https://github.com/bible-sacy/pngs-nt-2.git

[submodule "pngs-o1"]
	path = pngs-o1
	url = https://github.com/bible-sacy/pngs-o1.git
[submodule "ui"]
	path = ui
	url = https://github.com/bible-sacy/ui.git
